/* Font definitions */
$font-regular: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/JetBrainsMono/JetBrainsMono-Regular SDF.asset');
$font-medium: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/JetBrainsMono/JetBrainsMono-Medium SDF.asset');
$font-bold: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/JetBrainsMono/JetBrainsMono-Bold SDF.asset');

$font-title-big: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/LEDCounter7/led_counter-7 SDF.asset');
$font-title-big-italic: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/LEDCounter7/led_counter-7_italic SDF.asset');

$font-title-small: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/FutureMillennium/FutureMillennium SDF.asset');
$font-title-small-bold: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/FutureMillennium/FutureMillennium Black SDF.asset');
$font-title-small-italic: url('/Packages/uitkforksp2.unity/Assets/Theme/Fonts/FutureMillennium/FutureMillennium Italic SDF.asset');

/* Selector control icons */
$selector-to-start-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-first.png');
$selector-previous-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-back.png');
$selector-next-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-forward.png');
$selector-to-end-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-last.png');