/* Selector control icons */
$selector-to-start-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-first.png');
$selector-previous-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-back.png');
$selector-next-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-forward.png');
$selector-to-end-button: url('/Packages/uitkforksp2.unity/Assets/Theme/Icons/icon-last.png');